* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container {
    display: grid;
    gap: 2em;
}

#bulb {
    align-self: end;
    justify-self: center;
    margin: 2em 0 0;
    width: 70%;
}

.btn {
    align-self: start;
    justify-self: center;
}

button {
    cursor: pointer;
}

@media (min-width: 480px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr auto;
    }

    #bulb {
        grid-row: 1 / span 1;
        max-width: 30%;
    }

    .btn {
        grid-row: 2 / 1 span;
    }

}